#post_detail details {
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: 4px solid #50bfff;
  background-color: #ecf8ff;
}

#post_detail details>summary:after {
  float: right;
  content: "[-]";
  color: rgb(96, 98, 102);
  filter: contrast(50%);
  font-family: "Fira Code", monospace;
}

#post_detail details[open]>summary:after {
  content: "[+]";
}

#post_detail details>summary {
  filter: contrast(200%);
  transition: all 0.3s ease;
  font-weight: 500;
  cursor: pointer;
}

/*--header--*/

#header {
  padding: 10px 30px;
  background-color: #fff !important;
}

#navigator {
  margin-top: 0 !important;
}

/*--scrollbar--*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #cccccc;
}

::-webkit-scrollbar-track {
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

/*--selection--*/

*::selection {
  background-color: #b9d7ff;
}

*::-moz-selection {
  background-color: #b9d7ff;
}

*::-webkit-selection {
  background-color: #b9d7ff;
}

.topicListFooter {
  background-color: #fff;
  padding: 10px;
  border-radius: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}

summary {
  border: none !important;
}

details {
  padding: 10px;
}

.post {
  background-color: #fff;
}

a {
  text-decoration: none !important;
}

#green_channel a:hover {
  background: none;
}

#green_channel {
  border: none;
  text-align: left;
}

#green_channel a {
  background: none;
  box-shadow: none;
  text-shadow: none;
}

#navigator {
  border: none !important;
}

.postBody,
h5,
h4 {
  font-size: 16px;
}

body,
a,
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Noto Sans SC", sans-serif;
}

pre,
code,
.hljs {
  font-family: "Fira Code", consolas, monospace;
}

.PostListTitle,
.entrylistTitle,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #303133;
}

#blogTitle h2 {
  display: none;
}

#topics .postTitle {
  font-size: 32px !important;
  padding-left: 0 !important;
}

#cnblogs_post_body h1:before,
#cnblogs_post_body h2:before,
#cnblogs_post_body h3:before {
  content: "# ";
  color: #409eff !important;
}

#home {
  border-radius: 0px;
  margin-top: 30px !important;
  background: #0000 !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.catListComment,
.catListLink,
.catListPostArchive.sidebar-block,
.catListView,
.catListFeedback,
.newsItem {
  background-color: #0000 !important;
}

#ad_t2 {
  display: none;
}

.c_ad_block {
  display: none;
}

.entrylistPosttitle {
  border-left-color: #409eff;
}

.feedbackItem {
  border-left: 5px solid #a8a8a8;
  padding: 8px 16px;
  background-color: #f8f8f8 !important;
  border-radius: 0px;
}

#under_post_news {
  display: none;
}

.buryit {
  display: none;
}

blockquote {
  background: none !important;
  border-left: 5px solid #a8a8a8;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: #909399 !important;
  padding: 8px 16px;
  background-color: #f8f8f8 !important;
  border-radius: 0px;
}

body {
  background: #0000;
}

blockquote .MathJax {
  color: #909399 !important;
}

#cnblogs_post_body a {
  text-decoration: underline !important;
}

#cb_post_title_url {
  text-decoration: none !important;
}

.pager a,
#EntryTag a {
  box-shadow: none;
  color: #fff !important;
  background: #409eff !important;
  padding: 3px 8px !important;
  text-align: center !important;
  border: none !important;
  transition: all 0.2s ease !important;
  border: none !important;
  border-radius: 0px !important;
  cursor: pointer !important;
  display: inline-block !important;
  vertical-align: middle !important;
  outline: none !important;
  text-decoration: none !important;
  margin-bottom: 5px !important;
}

.pager a:hover,
#EntryTag a:hover {
  background: #66b1ff !important;
  color: #fff !important;
}

.MathJax {
  color: #606266;
}

#commentform_title {
  background-image: none;
}

.comment_textarea {
  background-color: rgb(248, 248, 248);
}

#sideBarMain,
#footer,
.forFlow,
.comment_my_posted {
  padding: 30px 30px 30px 30px;
  border-radius: 0px;
  background-color: #fff !important;
}

#sideBar {
  height: 100%;
}

#lnk_RefreshComments {
  display: none;
}

a[href="#"] {
  display: none;
}

#mainContent,
#topics {
  overflow: visible !important;
}

#blog-calendar {
  display: none;
}

#sideBar {
  border-radius: 0px;
  margin: 0;
  padding: 0;
}

#sideBarMain {
  height: 100%;
}

#mainContent {
  padding: 0;
}

.feedback_area_title {
  color: #fff;
  border: none;
}

.feedbackCon {
  border: none;
}

.cnblogs-markdown .hljs {
  border: none !important;
  background-color: #f8f8f8 !important;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
}

.hljs-title,
.hljs-section {
  color: #4271ae;
}

.hljs-meta {
  color: #8959a8;
}

.hljs-meta-string {
  color: #718c00 !important;
}

.hljs-built_in {
  color: #4d4d4c;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

.hljs-comment {
  color: #8e908c;
}

.hljs-string {
  color: #718c00;
}

.hljs-attribute {
  color: #4d4d4c;
}

code {
  color: #4d4d4c;
}

#cnblogs_post_body th,
#cnblogs_post_body td,
.cnblogs-post-body th,
.cnblogs-post-body td {
  border: none !important;
  padding: 0;
}

.postCon {
  font-size: 15px;
}

.cnblogs-markdown .hljs,
.cnblogs-post-body .hljs {
  font-size: 15px !important;
}

.cnblogs-markdown .hljs,
.cnblogs-post-body .hljs {
  font-size: 15px !important;
  line-height: 1.5 !important;
  padding: 10px !important;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#cnblogs_post_body table,
.cnblogs-post-body table {
  border: none !important;
  border-collapse: collapse;
  word-break: break-word;
}

code {
  border-radius: 0px !important;
}

.comment_textarea {
  border: none !important;
  border-radius: 0px;
}

.diggit {
  padding: 0px !important;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  position: fixed;
  right: 50px;
  bottom: 120px;
  background: rgb(252, 252, 252) !important;
  text-align: center;
  z-index: 110;
}

.full-screen {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  position: fixed;
  right: 51px;
  bottom: 190px;
  background: rgb(252, 252, 252) !important;
  text-align: center;
  z-index: 110;
}

#digg_tips {
  position: fixed;
  bottom: 139px;
  right: 135px;
  color: #303133 !important;
}

#digg_count {
  position: fixed;
  bottom: 139px;
  right: 71px;
  z-index: 1000;
  color: #303133;
}

#navList>li:nth-child(1) {
  display: none;
}

hr {
  color: #dcdfe6 !important;
  border-color: #dcdfe6 !important;
  background-color: #dcdfe6 !important;
}

.postTitle2 {
  color: #409eff !important;
}

.postTitle {
  border-color: #409eff !important;
  font-size: 20px;
}

.postTitle a:hover {
  margin-left: 0px !important;
}

div,
.feedbackListSubtitle a {
  color: #606266 !important;
}

a {
  color: #606266;
  transition: all 0.2s;
}

a:hover {
  color: #409eff !important;
}

body {
  color: #606266;
  background-color: #f9f9f9;
}

#btn_comment_submit {
  background: #409eff;
}

#btn_comment_submit:hover {
  background: #66b1ff;
}

.commentbox_tab:hover,
.commentbox_tab.active {
  border-color: #409eff;
}

#green_channel_digg {
  background-color: #409eff !important;
}

#green_channel_follow {
  background-color: #f56c6c !important;
}

#green_channel_favorite {
  background-color: #e6a23c !important;
}

#green_channel a {
  border-radius: 0px !important;
}

.comment_textarea,
#tbCommentBody {
  background: rgb(250, 250, 250);
  width: 100%;
  font-size: 15px !important;
  font-family: "Fira Code", monospace;
}

table {
  border-collapse: collapse !important;
  width: 100% !important;
}

th {
  padding: 10px !important;
  border-bottom: 2px solid #909399 !important;
}

td {
  border-top: 1.5px solid #ebeef5 !important;
  padding: 10px !important;
}

hr {
  background-color: #e4e7ed !important;
  height: 2px !important;
  border: none !important;
}

.desc_img {
  margin-left: 20px;
}

#profile_block,
#author_profile {
  padding: 8px 16px;
  border-radius: 0px;
  border-left: 5px solid #67c23a;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: #5e6d82 !important;
  background-color: rgb(240, 249, 235);
}

#homepage_top_pager {
  display: none;
}

.author_avatar {
  padding: 0;
  margin-top: 2.5px;
  border-radius: 0px !important;
}

.recent_comment_body {
  padding: 8px 16px;
  border-radius: 0px;
  border-left: 5px solid #50bfff;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: #5e6d82 !important;
  background-color: #ecf8ff;
}

#tbCommentBodyPreview {
  margin: 20px;
  padding: 20px;
  background-color: #fff !important;
}

#footer {
  border: none !important;
}

.comment_vote {
  display: none;
}

#big_banner {
  display: none !important;
}

#top_nav {
  display: none !important;
}

@media print {
  #blog_post_info_block,
  #comment_form,
  #header,
  #footer,
  .postDesc,
  #floating-controls,
  #sideBar {
    display: none !important;
    visibility: hidden;
  }

  #mainContent {
    width: auto;
  }
}
